@using Cortex.Auth
@using Cortex.Web.Models.NetworkVersions
@model List<NetworkVersionModel>

@if (Model.Count == 0)
{
    <span class="empty-text">No versions yet</span>
}
else
{
    <div>
        @foreach (NetworkVersionModel version in Model)
        {
            <div class="list-item-container">
                <div class="list-item-heading">
                    <small>
                        <a asp-controller="NetworkVersions"
                           asp-action="GetVersion"
                           asp-route-networkId="@version.NetworkId"
                           asp-route-versionId="@version.Id">
                            @Html.DisplayForUser(version.Author, User.GetNullableId())
                            <time datetime="@version.Date.ToString("o")" data-local></time>
                        </a>
                    </small>
                </div>
                @if (String.IsNullOrEmpty(version.Comment))
                {
                    <p class="empty-text">
                        No comment
                    </p>
                }
                else
                {
                    <p class="truncated-text" title="@version.Comment">@version.Comment</p>
                }
            </div>
        }
    </div>
}