@using Cortex.Web.Models.Shared
@model Cortex.Web.Models.Networks.NetworkModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div>
    <span>by</span>
    <span>
        @Model.Author.Name &lt;@Model.Author.UserName.ToLower()&gt;
    </span>
    <span>@Model.CreatedDate.ToString("dd-MMM-yyyy HH:mm 'UTC'")</span>
</div>

<div>
    @Model.Description
</div>

@if (Model.IsOwner)
{
    <div>
        <h4>Access</h4>
        <div>
            <span>View</span>
            <span>@Model.ReadAccess</span>
            @if (Model.ReadAccessUsers.Any())
            {
                <span>
                    @foreach (UserDisplayModel user in Model.ReadAccessUsers)
                    {
                        <span>
                            @user.Name &lt;@user.UserName.ToLower()&gt;
                        </span>
                    }
                </span>
            }
        </div>
        <div>
            <span>Edit</span>
            <span>@Model.WriteAccess</span>
            @if (Model.WriteAccessUsers.Any())
            {
                <span>
                    @foreach (UserDisplayModel user in Model.WriteAccessUsers)
                    {
                        <span>
                            @user.Name &lt;@user.UserName.ToLower()&gt;
                        </span>
                    }
                </span>
            }
        </div>
    </div>
}